version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo-test
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: backend-test
    container_name: backend-test-container
    build:
      context: ./backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo
    networks:
      - mean-network

  frontend:
    image: frontend-test
    container_name: frontend-test-container
    build:
      context: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - mean-network

networks:
  mean-network:
    driver: bridge

volumes:
  mongo-data:
